@model List<OrderProcessingSystem.Models.InventoryItemViewModel>
<div class="panel panel-danger widget">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-tasks fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h3>Low Inventory Item</h3>
            </div>
        </div>
    </div>
    <div class="widget-display">
        <table class="table table-fluid table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Inventory Count</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var inventoryItem in Model)
            {
                <tr>
                    <td>@inventoryItem.Name</td>
                    <td>
                        <a href="#" data-userid="3">@inventoryItem.Count</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>