<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is simple Order Processing System to demonstrate ASP.NET Core Web Application">
    <meta name="author" content="Abhishek Goenka">
    <title>Order Processing System</title>
    <environment Names="development">
        <link href="~/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/css/sb-admin-2.css" rel="stylesheet"/>
        <link href="~/css/custom.css" rel="stylesheet"/>
    </environment>
</head>
<body>
<div id="wrapper">
    <!-- Begin Navigation -->
    @Html.Partial("_Navigation")
    <!-- End Navigation -->
    
    <!-- Begin View Wrapper -->
    @RenderBody();
    <!-- End View Wrapper -->
</div>
<footer>
    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer", false)
    }
    else
    {
        <p>
            &copy; 2016 Abhishek Goenka<span class="pull-right">Contact Help Desk at 555-555-1342</span>
        </p>
    }
</footer>
<environment Names="development">
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        (function () {
            $("#cultureForm select").on("change", function () {
                $(this).parent().submit();
            });
        }());
    </script>
</environment>
</body>
</html>