<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navegación de palanca</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Order Processing System</a>

    </div>
    <div class="navbar-collapse collapse">
        @Html.Partial("_CulturePartial")
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <br/>
            <ul class="nav" id="side-menu">
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Clientela</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a asp-controller="Client" asp-action="NewClient">Cliente nuevo</a>
                        </li>
                        <li>
                            <a asp-controller="Client" asp-action="ShowAllClients">Todos los clientes</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <span><i class="fa fa-edit fa-fw"></i> Pedidos</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a asp-controller="Order" asp-action="NewOrder">Nuevo orden</a>
                        </li>
                        <li>
                            <a href="#">Ordenes de progreso</a>
                        </li>

                        <li>
                            <a href="#">Historial de pedidos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Inventario</span>
                    <ul class="nav nav-second-level">
                        <li>
                            <a asp-controller="Item" asp-action="NewItem">Nuevo artículo</a>
                        </li>
                        <li>
                            <a asp-controller="Item" asp-action="CurrentInventory">Inventario actual</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>