<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Order Processing System</a>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <br />
            <ul class="nav" id="side-menu">
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Clients</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            @Html.ActionLink("New Client", "NewClient", "Client")
                        </li>
                        <li>
                            @Html.ActionLink("All Client", "ShowAllClients", "Client")
                        </li>
                    </ul>
                </li>
                <li>

                    <span><i class="fa fa-edit fa-fw"></i> Orders</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a href="#">New Order</a>
                        </li>
                        <li>
                            <a href="#">In Progress Orders</a>
                        </li>

                        <li>
                            <a href="#">Order History</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Inventory</span>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("New Item", "NewItem", "Item")
                        </li>
                        <li>
                            @Html.ActionLink("Current Inventory", "CurrentInventory", "Item")
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>