<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Order Processing System</a>

    </div>
    <div class="navbar-collapse collapse">
        @Html.Partial("_CulturePartial")
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <br/>
            <ul class="nav" id="side-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <span><i class="fa fa-user fa-fw"></i> Welcome @User.Identity.Name</span>
                        <ul class="nav nav-second-level in">

                            <li>
                                <a asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>

                        </ul>
                    
                    </li>
                }
                @if (User.IsInRole("administrator"))
                {
                    <li>
                        <span><i class="fa fa-edit fa-fw"></i> Clients</span>
                        <ul class="nav nav-second-level in">
                            <li>
                                <a asp-controller="Client" asp-action="NewClient">New Client</a>
                            </li>
                            <li>
                                <a asp-controller="Client" asp-action="ShowAllClients">All Client</a>
                            </li>
                        </ul>
                    </li>
                    <li>

                        <span><i class="fa fa-edit fa-fw"></i> Orders</span>
                        <ul class="nav nav-second-level in">
                            <li>
                                <a asp-controller="Order" asp-action="NewOrder">New Order</a>
                            </li>
                            <li>
                                <a href="#">In Progress Orders</a>
                            </li>

                            <li>
                                <a href="#">Order History</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span><i class="fa fa-edit fa-fw"></i> Inventory</span>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-controller="Item" asp-action="NewItem">New Item</a>
                            </li>
                            <li>
                                <a asp-controller="Item" asp-action="CurrentInventory">Current Inventory</a>
                            </li>
                        </ul>
                    </li>
                }
                </ul>
                
        </div>
    </div>
</nav>